<hr />
<form
  style="border:0px solid #ccc;padding:10px;text-align:center;"
  action="https://tinyletter.com/pplonski"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://tinyletter.com/pplonski', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
>
  <label for="tlemail"
    >If you found it interesting, please subscribe to be notified about new
    posts
  </label>
  <input
    type="text"
    style="width:140px"
    name="email"
    id="tlemail"
    placeholder="email@example.com"
    style="
    width: 50%;
    margin: 0 10px 0 0;
    min-width: 200px;
    padding: 12px 10px 11px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: none;"
  />
  <input type="hidden" value="1" name="embed" /><input
    type="submit"
    value="Subscribe"
    style="color: #FFFFFF;
    background-color: #333333;
    display: inline-block;
    white-space: nowrap;
    height: 40px;
    line-height: 42px;
    margin: 0 5px 0 0;
    padding: 0 22px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    "
  />
</form>
